body {
    background-color: #242f3f;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* files */
#file-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

.file-item {
    display: flex;
    align-items: center;
    padding: 2px;
    border-bottom: 1px solid #2f3e4e;
    cursor: pointer;
}

/* layout */
.container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 2rem);
    margin: 1rem;
    align-items: center;
}

.auth {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.auth-btn {
    border: 2px solid black;
    border-radius: 5px;
    background-color: #2f3e4e;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

#err {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}